# Python
Python/*/venv/

# Rust
Rust/*/Cargo.lock
Rust/*/target/

# Kotlin
Kotlin/compiled/*.jar

# C
C/*/*
C/Training/compiled/*

# C Whitelist
!C/*/makefile
!C/*/*.c
!C/*/*.h
!C/*/*.cpp
!C/*/*.hpp
!C/Training/compiled/README.md
!C/Training/compiled/
