# Python
Python/*/venv/

# Rust
Rust/*/Cargo.lock
Rust/*/target/

# Kotlin
Kotlin/compiled/*.jar

# C
C/*/*

# C Whitelist
!C/*/makefile
!C/*/*.c
!C/*/*.h
!Cpp/*/*.cpp
!Cpp/*/*.hpp
!C/Training/progs/

# C++
Cpp/*/*

# C++ Whitelist
!Cpp/*/makefile
!Cpp/*/*.c
!Cpp/*/*.h
!Cpp/*/*.cpp
!Cpp/*/*.hpp
!Cpp/Training/progs/
